<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="connectionSettings"  type="MasterSlaveConfig.MasterSlaveConfigSection, MasterSlaveConfig" />
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionSettings>
    <ipEndPoints>
      <add port="5556" ip="127.0.0.1" />
      <add port="5557" ip="127.0.0.1" />
    </ipEndPoints>
  </connectionSettings>
</configuration>