<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="MasterSlaveConnection"  type="ConnectionConfigSection" />
  </configSections>
  <ConnectionSettings>
    <Slaves>
      <add port="5555" />  
    </Slaves>
    <Master>
      <add port="10000" />
    </Master>
  </ConnectionSettings>
</configuration>