<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ConnectionSettings"  type="MasterSlaveConfig.MasterSlaveConfigSection, MasterSlaveConfig" />
  </configSections>
  <ConnectionSettings>
    <servicePorts>
      <add port="5555" ip="127.0.0.1" serviceType="master" />
      <add port="5556" ip="127.0.0.1" serviceType="slave" />
      <add port="5557" ip="127.0.0.1" serviceType="slave" />
    </servicePorts>
  </ConnectionSettings>
</configuration>